@inject NavigationManager Navigation
@inject Services.ApplicationSettingsService authser

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            
                <NotAuthorized>
                    @if (context.User.Identity.IsAuthenticated == false)
                    {
                        @*<Smart.Door.Gajet.Client.Pages.LoginPages.Login />*@
                                                <Smart.Door.Gajet.Client.Shared.Components.LoginRedirect />
                    }
                    <Smart.Door.Gajet.Client.Shared.Components.LoginRedirect />
                </NotAuthorized>

                <Authorizing>
                    <div class="main">Please wait...</div>
                </Authorizing>

            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <h1>404 Error</h1>
                    <p>Sorry, there's nothing at this address///.</p>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code{ 
    protected override void OnInitialized()
    {
        //if(authser.IsAuthenticated ==false)
        ////Navigation.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}");
        //Navigation.NavigateTo("login");
    }
}




@*<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>*@
